* {
    padding: 0;
	margin: 0;
	border: 0;
	position: fixed;
}

body {
   width: 1920px;
	height: 1080px;
   background-image:url("images/fond.png");
}

.main_btn{
width:400px;
height:400px;
text-align:center;
background-image: url("images/star.png");
}

.selected_btn{
color:#000;
border: solid 4px white;
box-shadow: 6px 6px 20px 10px gray;
}


#btn_1{
top:200px;
left: 10px;
}

#btn_2{
top:200px;
left: 500px;
width:400px;
height:400px;
background-image: url("images/lock1.png");
}

#btn_3{
top:200px;
left: 1000px;
width:400px;
height:400px;
background-image: url("images/lock1.png");
}
#btn_4{
top:200px;
left: 1500px;
width:400px;
height:400px;
background-image: url("images/lock1.png");
}

.text{
position:absolute;
width:500px;
height:400px;
left:400px;
top:50px;
font-size:80px;
color:#e089e0;
padding-top: 25px;
}
.title{
color:#87d2ef;
font-size:30px;
}

.main_level{
width:400px;
height:100px;
text-align:center;
font-size:80px;
padding-top: 25px;
background-color: #64dede;
}

.selected_level{
color:#000;
border: solid 4px white;
box-shadow: 6px 6px 20px 10px gray;
}


#lev_1{
top:650px;
left: 10px;
}
#lev_2{
top:650px;
left: 500px;
}

#lev_3{
top:650px;
left: 1000px;
}
#lev_4{
top:650px;
left: 1500px;
}
#navbar{
	width: 1916px;
  height: 818px;
  margin-top: 250px;
}