<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/Memoryyyyyy" version="1.0.0" viewmodes="maximized">
    <tizen:application id="T5iNF6BQaS.Memoryyyyyy" package="T5iNF6BQaS" required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>Memoryyyyyy</name>
    <tizen:profile name="tv"/>
</widget>
